svg.repo-list-icon {
    fill: #586069;
    vertical-align: text-bottom;
}

#top-navbar {
    border: 0;
}

#profile-img {
    margin-bottom: 5px;
}

#fullname {
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin-bottom: 0px;
}

.nickname {
    color: #666;
    font-size: 20px;
    line-height: 24px;
}

.spacing-top {
    margin-top: 5px;
}

.reduce-margin {
    margin-top: 5px;
    margin-bottom: 5px;
}





.lang-colour {
    display: inline-block;
    border-radius: 50%;
    margin-bottom: -1px;
    width: 12px;
    height: 12px;
}

.evosim {
    background-color: green;
}

.spree_cwilt_theme {
    background-color: #e34c26;
}

.neuralnet-digit-reader {
    background-color: #198CE7;
}

.pong-neural-net {
    background-color: #f34b7d;
}

.spree_flexible_variants {
    background-color: #9b111e;
}

.prolog {
    background-color: #74283c;
}




.header-bar {
    background-color: #24292e;
}

.navbar-brand {
    color: white !important;
}

@media (min-width: 768px)
{
    #header-fullname
    {
        display: none;
    }
}

@media (max-width: 768px)
{

    #footer
    {
        display: none;
    }
}

#navbar-logo {
    font-size: 1.5em;
}

hr.menu {
    border-color: #9d9d9d;
}

footer {
    margin-bottom: 20px;
}

.list-style-none {
    list-style: none;
}

li.list-style-none {
    float: left;
}

div.whitespace {
    height: 50px;
}

#repo-search
{
    width: 100%;
}

.navbar {
    border-radius: 0;
    min-height: 50px;
}

#github-logo {
    fill: white;
    display: inline-block;
    vertical-align: center;
}

#navbar-search {
    outline: none;
    border: 0;
    background-color: #404448;
    width: 100%;
}

ul.flex-list {
    display: inline-block;
    padding: 0;
}

ul.flex-list>li {
    list-style: none;
    float: left;
    display: inline-block;
    margin-top:15px;
    white-space: nowrap;
}

ul.flex-list> li:last-child {
    width: 40px;
}

ul.flex-list> li a {
    color: #c8c9ca;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: bold;
}

ul.flex-list> li a:hover {
    text-decoration: none;
    color: white;
}

ul.flex-list>li:not(:last-child) {
    margin-right: 20px;
}

#main-navbar-form {
    padding-left: 0;
}

#main-navbar-form>input:focus {
    color: #fdfdfd;
}

.form-container {
    width: 100%;
}

.user-link {
    color: #c8c9ca;
    font-size: 13pt;
    fill: #c8c9ca;
}

.user-link:hover {
    fill: white;
    color: white;
}

#avatar-dropdown-img {
    width: 50%;
    vertical-align: top;
}

.caret-margin {
    margin-bottom: 7px;
}


.bio {
    color: #666;
    font-size: 14px;
}

#weblink {
    fill: #666;
}

.sub-nav-container {
    border-bottom: 1px solid #d1d5da;
}

.underline-nav {
    display: table;
    height: 62px;
}

.underline-nav-item {
    display: table-cell;
    color: #586069;
    padding-left: 20px;
    padding-right: 20px;
    vertical-align: middle;
    border-bottom: 2px solid transparent;
}

.underline-nav-item:hover {
    color: #1d1d1d;
    text-decoration: none;
}

.underline-nav-item.selected {
    color: #1d1d1d;
    border-bottom-color: #e36209;
}

.badge {
    color: #586069;
    background-color: rgba(27,31,35,0.08);
}

.subtext {
    color: #666;
    font-size: 13px;
    margin-bottom: 0;
    margin-top: 10px;
}

#repository-list {
    font-size: 13px;
    color: #586069;
    padding: 0;
}

ul div.reduce-gutter {
    padding-right: 5px;
}

ul div.reduce-gutter {
    padding-left: 5px;
}

.sub-header {
    margin-left: -10px;
    font-size: 16px;
}

.custom-dropdown>li>a {
    color: #24292e !important;
    font-weight: normal !important;
}

.custom-dropdown>li>a:hover {
    color: white !important;
    background-color: #0366d6;
}

.dropdown-header {
    font-size: 14px;
}

ul#repository-list>.row {
    margin-left: 0;
    margin-right: 0;
}

ul.repo-list-item {
    padding:0;
}

i {
    margin-right: 3px;
}

.row.repo-details {
    margin-top: 13px;
}

.row.repo-title {
    font-size: 16px;
}

.unset-width {
    width: unset;
}

.link-icon {
    margin-bottom: -3px;
}

.year-filter-list {
    width: 89px;
    margin-top: 5px;
    padding: 0;
}

.year-filter-list>li:not(:last-child) {
    margin-bottom: 8px;
}

.year-filter-list>li.selected {
    background-color: #0366d6;
}
.year-filter-list>li.selected>a {
    color: #fff;
}

.year-filter-list>li {
    border-radius: 3px;
    padding: 8px;
}

.year-filter-list>li:not(.selected):hover {
    background-color: #ededed;
}

a.year-link {
    position: relative;
    display: block;
    text-decoration: none;
    margin-left: 5px;
    color: #586069;
}

.text-gray {
    color: #818181;
}

.contribution-date {
    font-size: 13px;
}

.contribution-icon {
    margin-top: 3px;
    display: block;
    width: 32px;
    height: 32px;
    text-align: center;
    vertical-align: text-bottom;
    background-color: #e6ebf1;
    border-radius: 50%;
}

.contribution-icon svg {
    margin-top: 8px;
    fill: #586069;
}

.gray-icon {
    margin-bottom: -13px;
    fill: #586069;
}

.commits {
    margin-left: 5px;
    color: #586069;

}

ul.no-padding {
    padding-left: 0;
}

ul.repo-contribution-list>li:not(:last-child) {
    margin-bottom: 6px;
}

.colour-bar {
    display: block;
    height: 8px;
    border-radius: 3px;
}

hr.pre-footer {
    width: 80%;
}

#footer {
    font-size: 14px;
}


.footer-list {
    margin-top: 20px;
}

.footer-list li {
    float: left;
}

.footer-list li:not(:last-child) {
    margin-right: 20px;
}

.footer-github-icon {
    display: block;
    fill: #c6cbd1;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.repo-link:hover {
    color: #337ab7;
}

.restricted {
    padding-left:   50px;
    padding-right:  50px;
}

#user-links {
    margin-right: 15px;
}

