* {
    padding: 0;
    margin:0;
}
.container {
    height: 90%;
}

html, body, .sidebar, .content {
    height: 100%;
}

.content>h1 {
    padding: 10px;
}

.content>p {
    padding: 10px;
    margin-top: 20px;
}

.header {
    background-color: green;
    height: 60px;
}

.header h1 {
    margin: 0;
    text-align: center;
    color: white;
}

.sidebar {
    width: 150px;
    float:left;
    background-color: #777;
    color: white;
    overflow-y: auto;
}

.sidebar>ul {
    padding-top: 10px;
    padding-left: 40px;
}

.content {
    float:left;
    width: 60%;
    overflow-y: auto;
}

.footer {
    height: 50px;
    background-color: green;
    clear: both;
    text-align: center;
    color: white;
}

